/* Resetando estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

h2 {
    color: #333;
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    margin-bottom: 30px;
}

/* Estilos do Formulário de Login */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    flex-direction: column;
    text-align: center;
}

.login-container {
    width: 100%;
}

.logo-container {
    margin-bottom: 30px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Input de login */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #45a049;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
}

.forgot-password a {
    color: #007BFF;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .login-page {
        padding: 20px 15px;
    }

    h2 {
        font-size: 22px;
    }

    .input-group input {
        font-size: 14px;
    }

    .btn-login {
        font-size: 14px;
    }
}
